<launch>
    <arg name="map_file" default="map1.yaml" />
    <arg name="open_rviz" default="true" />
    <arg name="move_forward_only" default="false" />
    <arg name="scan_topic" default="scout/laser/scan" />

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(find scout_slam)/maps/$(arg map_file)" />

    <!-- AMCL -->
    <include file="$(find scout_navigation)/launch/amcl.launch" >
        <arg name="scan_topic" value="$(arg scan_topic)" />
    </include>

    <!-- move_base -->
    <include file="$(find scout_navigation)/launch/move_base.launch" >
        <arg name="move_forward_only" value="$(arg move_forward_only)" />
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find scout_navigation)/rviz/scout_navigation.rviz" />
    </group>
</launch>